In [0]:
#lets import the important libraries
import pandas as pd
import numpy as np

In [2]:
#reading our data set from our csv file
url='http://bit.ly/Autolibdataset'
df = pd.read_csv(url)
df.head()

   Unnamed: 0                     Address  Cars  ...  day  hour  minute
0           0              24 Rue Vulpian     3  ...    1     0       0
1           1  8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2        4 Rue Charles Bossut     3  ...    1     0       0
3           3   3 avenue Claude Vellefaux     4  ...    1     0       0
4           4      236 Boulevard Voltaire     1  ...    1     0       0

[5 rows x 26 columns]

In [4]:
#lets check the size our data
df.shape

(14421829, 26)

In [5]:
#lets get information about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14421829 entries, 0 to 14421828
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.8+ GB

In [6]:
#lets check for any missing values
df.isnull().sum()

Unnamed: 0                    0
Address                       0
Cars                          0
Bluecar counter               0
Utilib counter                0
Utilib 1.4 counter            0
Charge Slots                  0
Charging Status               0
City                          0
Displayed comment      14099610
ID                            0
Kind                          0
Geo point                     0
Postal code                   0
Public name                   0
Rental status                 0
Scheduled at           14310213
Slots                         0
Station type                  0
Status                        0
Subscription status           0
year                          0
month                         0
day                           0
hour                          0
minute                        0
dtype: int64

In [7]:
#we now begin to clean our data
#lets start by dropping the columns that have missing values and those of year, minute,city,month, Public name, Cars, station type,slots, 
#explanation: we drop the year, city, month because we have detailed information about them in the research question so from the on set we already know
#what we are talking about.we will not need minute column as our research question needs it not. as for public name and columns we have other columns
#that give the same info they hold.station type and slots add no info for the nature of research question we are having so we drop them

df1 =  df.drop(['Scheduled at','Displayed comment','Public name','year','month','minute','Slots','Station type','Cars','City','Address'], axis=1)
df1.head(5)

   Unnamed: 0  Bluecar counter  Utilib counter  ...  Subscription status  day hour
0           0                3               1  ...          nonexistent    1    0
1           1                0               0  ...          nonexistent    1    0
2           2                3               0  ...          nonexistent    1    0
3           3                4               0  ...          nonexistent    1    0
4           4                1               0  ...          nonexistent    1    0

[5 rows x 15 columns]

In [0]:
df1.to_csv('clean.csv')

In [9]:
#check whether we dropped the columns suuccessfuly
df1.shape

(14421829, 15)

In [10]:
#What is the most popular hour for returning cars?
df1.groupby(['hour','Bluecar counter'])['Bluecar counter'].sum().sort_values(ascending=False).head()

hour  Bluecar counter
5     5                  466250
4     5                  458750
6     5                  457870
3     5                  452940
2     5                  444015
Name: Bluecar counter, dtype: int64

In [11]:
#What station is the most popular
df.groupby(['Bluecar counter', 'ID'])['Bluecar counter'].count().sort_values(ascending=False).head()

Bluecar counter  ID
0                paris-pierrechausson-1           12921
                 gennevilliers-gabrielperi-169    12912
                 colombes-renouillers-183         12911
                 paris-boucry-35                  12907
                 bievres-gare-12                  12904
Name: Bluecar counter, dtype: int64

In [43]:
#what station is most popular at the most popular picking hour?
df1.groupby(['hour', 'ID','Bluecar counter'])[['Bluecar counter']].count().sort_values(by='hour', ascending=False).head()

                                                 Bluecar counter
hour ID                         Bluecar counter
23   yerres-raymondpoincare-200 7                            104
     pantin-cartierbresson-84   2                             29
     pantin-anatolefrance-1     0                             60
                                1                            114
                                2                             64

In [38]:
#What postal code is the most popular for picking up Bluecars?
df1.groupby(['Postal code','Bluecar counter','hour'])['Bluecar counter'].count().sort_values(ascending=False).head()

Postal code  Bluecar counter  hour
75008        0                3       14419
                              2       14362
                              4       13643
                              5       13067
                              6       12158
Name: Bluecar counter, dtype: int64

In [40]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Bluecars?
df1.groupby(['Postal code','Utilib counter','hour'])['Utilib counter'].count().sort_values(ascending=False).head()

Postal code  Utilib counter  hour
75015        0               17      31325
                             18      31226
                             21      31115
                             19      31091
                             15      31036
Name: Utilib counter, dtype: int64

In [42]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Bluecars?
df1.groupby(['Postal code','Utilib 1.4 counter','hour'])['Utilib 1.4 counter'].count().sort_values(ascending=False).head()

Postal code  Utilib 1.4 counter  hour
75015        0                   15      29427
                                 13      29275
                                 16      29164
                                 17      29066
                                 14      29058
Name: Utilib 1.4 counter, dtype: int64